<h2>Tasks:</h2>
<nav>
  <a class="btn" routerLink="sweep" routerLinkActive="active">Sweep</a>
  <a class="btn" routerLink="dishes" routerLinkActive="active">Dishes</a>
  <a class="btn" routerLink="read" routerLinkActive="active">Reading HW for Coding</a>
  <a class="btn" routerLink="code" routerLinkActive="active">HandsOn Assignment</a>
</nav>
<router-outlet></router-outlet>

<!-- 
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
